@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html,
  body,
  #root {
    height: 100%;
    scroll-behavior: smooth;
  }

  body {
    @apply bg-slate-50 text-slate-900 font-sans antialiased;
  }

  body.modal-open {
    overflow: hidden;
  }
}

/* Hide scrollbars globally across all browsers while preserving scroll functionality */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

*::-webkit-scrollbar {
  display: none; /* Chrome, Safari and Opera */
  width: 0 !important;
  height: 0 !important;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

